<aside class="sidenav" *ngIf="this.location.path() != ''">
  <ul class="menus">
    <li [routerLink]="['']" [ngClass]="{'active': this.location.path() == ''}"><i class="fas fa-home"></i></li>
    <li [routerLink]="['/solution-details']" [ngClass]="{'active': this.location.path() == '/solution-details'}"><i class="fas fa-globe"></i></li>
    <li [routerLink]="['/business-variables']" [ngClass]="{'active': this.location.path() == '/business-variables'}"><i class="fas fa-database"></i></li>
    <li [routerLink]="['/feature-engineering']" [ngClass]="{'active': this.location.path() == '/feature-engineering'}"><i class="fas fa-bolt"></i></li>    
    <li [routerLink]="['/model-technique']" [ngClass]="{'active': this.location.path() == '/model-technique'}"><i class="fas fa-suitcase"></i></li>
    <li class="title">Test Model</li>
    <li style="pointer-events: none; opacity: 0.5;"><i class="far fa-check-circle"></i></li>
    <li style="pointer-events: none; opacity: 0.5;"><i class="fas fa-edit"></i></li>
    <li style="pointer-events: none; opacity: 0.5;"><i class="fas fa-bezier-curve"></i></li>
    <li class="title">Predict</li>
    <li style="pointer-events: none; opacity: 0.5;"><i class="fas fa-list-ul"></i></li>
  </ul>
</aside>