<app-breadcrumbs></app-breadcrumbs>
<ul
  class="category-tiles-accordion">
  <li 
    *ngFor="let variable of variableCollectiveDetailsUnique"
    [ngClass]="{'active': selectedItem === variable.model_var_category}"
    (click)="drillDownVarCategory(variable.model_var_category)">{{ variable.model_var_category }}
  </li>
</ul>
<div class="table-holder">
  <table
    class="table variable-table table-bordered table-striped" 
    style="position: relative;">
    <colgroup>
      <col style="width: 10%;">
      <col style="width: 15%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
      <col style="width: 10%;">
      <col style="width: 15%;">
      <col style="width: 15%;">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Feature Name</th>
        <th scope="col">Feature Description</th>
        <th scope="col">Feature Form</th>
        <th scope="col">Feature Importance</th>
        <th scope="col">Feature Base Variable</th>
        <th scope="col">Feature Derivation Rule</th>
        <th scope="col">Outlier Treatment</th>
        <th scope="col">Missing Value Treatment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of variableTableListing">
        <td>{{ item.model_var_nm }}</td>
        <td>{{ item.model_var_desc }}</td>
        <td>{{ item.model_var_form }}</td>
        <td>{{ item.model_var_type }}</td>
        <td>{{ item.model_var_state }}</td>
        <td>{{ item.model_var_upper_outlier }}</td>
        <td>{{ item.model_var_lower_outlier }}</td>
        <td>{{ item.model_var_mv_rule }}</td>
      </tr>
    </tbody>
  </table>
</div>